{% extends 'base.html' %}

{% block content %}


<div class="container my-5">
  
  <div class="row p-4 align-items-center rounded-3 border shadow-lg">
    <div class="">
      <p class="lead">Select modification sites <span id="entry_name"></span> </p>
    </div>

    <div style="overflow-wrap: break-word;" id="sequence-viewer"></div>
   </div>

</div>   



<div class="container my-5">
  
  <div class="row p-4 align-items-center rounded-3 border shadow-lg">
    <div class="">
      <p class="lead">Phosphosite plus</p>
      Phosphosite entry  is available <a href="http://www.phosphosite.org/uniprotAccAction?id={{entry_dict['entry']}}">here</a>
    </div>

    <div style="overflow-wrap: break-word;" id="phosphosite-viewer">

    <div class="spinner-grow"  role="status"></div>
    <div class="spinner-grow"  role="status"></div>
    <div class="spinner-grow"  role="status"></div>
    
    </div>
   </div>

</div> 

<div class="container my-5">
  <div class="row p-4 align-items-center rounded-3 border shadow-lg">
    <div class="">
      <p class="lead">reSMALI - SH2 domain prediction </p>
    </div>
    <div> <button type="button" class="btn btn-outline-success" onclick="getSMALI()" >Get reSMALI</button></div>

    <div style="overflow-wrap: break-word;" id="resmali-info"></div>


    </div>

</div>

<script >
  var entry_object =  JSON.parse('{{entry_dict | tojson | safe}}');
  var protein_agent = new ptmprofiler.protein_agent(entry_object);
  var sequence_viewer = new ptmprofiler.sequence_viewer(protein_agent, "sequence-viewer");
  sequence_viewer.draw(); 
  var phosphosite = new ptmprofiler.phosphosite(entry_object['entry']);
  phosphosite.show_data("phosphosite-viewer");
 
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})







</script>


<script>

  function getSMALI(){
  jQuery.getJSON('http://127.0.0.1:8000/api/resmali/condensed/'+protein_agent.sequence, function(data) {
    output = ""
    jQuery.each(data, function(key, value){
      if(protein_agent.selected[(parseInt(key))]){
      output += key + ": " + value + "<br/>";
      }


    });



    document.getElementById("resmali-info").innerHTML = output;
    

  });

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
  
}
</script>

<script>

function go_to_profiler(){

  var select_residues = [];

  for(var i =0; i < protein_agent.protein_length; i++){
    if(protein_agent.selected[i]){
      select_residues.push(i);
    }
  }
  sessionStorage.setItem("selected_residues", JSON.stringify(select_residues));
  sessionStorage.setItem("uniprot_id", protein_agent.entry);
  window.location.assign('../ptm_profile/');


}
</script>


{% endblock %}