{% extends 'base.html' %}

{% block content %}


<div class="container my-5">
  
  <div class="row p-4 align-items-center rounded-3 border shadow-lg">
    <div class="">
      <p class="lead">Select modification sites <span id="entry_name"></span> </p>
    </div>

    <div style="overflow-wrap: break-word;" id="sequence-viewer"></div>
   </div>

</div>   



<div class="container my-5">
  
  <div class="row p-4 align-items-center rounded-3 border shadow-lg">
    <div class="">
      <p class="lead">Phosphosite plus</p>
      Phosphosite entry  is available <a href="http://www.phosphosite.org/uniprotAccAction?id={{entry_dict['entry']}}">here</a>
    </div>
    <input type='hidden' id='phosphosite-data' value = "" />

    <div = id="phophosite-controls">
      <div>Select phosphosites with more than LTP: <input type="number" class="form-control form-control-inline " id="phosphosite-ltp" value="0"> , HTP: <input type="number" class="form-control form-control-inline" id="phosphosite-htp" value="4"> hits. <button type="button" class="btn btn-outline-success" onclick="select_phosphosites()" >Select sites</button> </div>
    </div>

    <div class="accordion" id="phosphosite-advanced">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Advanced filters
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#phosphosite-advanced">
          <div class="accordion-body">
            Filter phosphosites identified in less than <input type="number" class="form-control form-control-inline input-sm col-lg-1" id="phosphosite-tryptic-filter" value="0.4"> LTP experiments  of the tryptic peptide max  <button type="button" class="btn btn-outline-danger" onclick="phosphosite_tryptic_filter()" >Filter</button> 
          </div>
        </div>
      </div>
      </div>

    <div style="overflow-wrap: break-word;" id="phosphosite-viewer">

    <div class="spinner-grow"  role="status"></div>
    <div class="spinner-grow"  role="status"></div>
    <div class="spinner-grow"  role="status"></div>
    
    </div>
   </div>

</div> 

<div class="container my-5">
  
  <div class="row p-4 align-items-center rounded-3 border shadow-lg">
    <div class="">
      <p class="lead">Netphorest</p>
    </div>

    <div id="netphorest-controls">
      

    <div>
      <input class="form-check-input" type="checkbox" id="netphorest-checkbox-kin" value="KIN" checked>
      <label class="form-check-label" for="netphorest-checkbox-kin">KIN</label>

      <input class="form-check-input" type="checkbox" id="netphorest-checkbox-sh2" value="SH2">
      <label class="form-check-label" for="netphorest-checkbox-sh2">SH2</label>

      <input class="form-check-input" type="checkbox" id="netphorest-checkbox-ptp" value="PTP">
      <label class="form-check-label" for="netphorest-checkbox-ptp">PTP</label>

      <input class="form-check-input" type="checkbox" id="netphorest-checkbox-ptb" value="PTB">
      <label class="form-check-label" for="netphorest-checkbox-ptb">PTB</label>

      <input class="form-check-input" type="checkbox" id="netphorest-checkbox-14" value="14">
      <label class="form-check-label" for="netphorest-checkbox-14">14-3-3</label>

      <input class="form-check-input" type="checkbox" id="netphorest-checkbox-brct" value="BRCT">
      <label class="form-check-label" for="netphorest-checkbox-brct">BRCT</label>

      <input class="form-check-input" type="checkbox" id="netphorest-checkbox-ww" value="WW">
      <label class="form-check-label" for="netphorest-checkbox-ww">WW</label>

      <input class="form-check-input" type="checkbox" id="netphorest-checkbox-wd40" value="WD40">
      <label class="form-check-label" for="netphorest-checkbox-wd40">WD40</label>
    </div>

    <div>
      <label for="exampleInputEmail1">Min netphorest score</label>
      <input type="number" class="form-control form-control-inline" id="netphorest-min-score" value="0.1">
    
    </div>
    <button type="button" class="btn btn-outline-success" onclick="draw_netphorest()" >Get netphorest</button>


    </div>

    <div style="overflow-wrap: break-word;" id="netphorest-viewer">

    
    </div>

   </div>

</div> 


<div class="container my-5">
  
  <div class="row p-4 align-items-center rounded-3 border shadow-lg">
    <div class="">
      <p class="lead">Networkin</p>
    </div>

    <div id="networkin-controls">
      

    <div>
      <input class="form-check-input" type="checkbox" id="networkin-checkbox-kin" value="KIN" checked>
      <label class="form-check-label" for="networkin-checkbox-kin">KIN</label>

      <input class="form-check-input" type="checkbox" id="networkin-checkbox-sh2" value="SH2">
      <label class="form-check-label" for="networkin-checkbox-sh2">SH2</label>


    </div>

    <div>
      <label for="exampleInputEmail1">Min networkin score</label>
      <input type="number" class="form-control form-control-inline" id="networkin-min-score" value="2.0">
    
    </div>
    <button type="button" class="btn btn-outline-success" onclick="draw_networkin()" >Get networkin</button>


    </div>

    <div style="overflow-wrap: break-word;" id="networkin-viewer">

    
    </div>

   </div>

</div>

<div class="container my-5">
  <div class="row p-4 align-items-center rounded-3 border shadow-lg">
    <div class="">
      <p class="lead">reSMALI - SH2 domain prediction  <button type="button" class="btn btn-outline-success" onclick="getSMALI()" >Get reSMALI predictions</button></p>
      reSMALI can be found as standalone python package <a href="https://github.com/DT-Newman/reSMALI">here</a>

    </div>

    <div style="overflow-wrap: break-word;" id="resmali-info"></div>


    </div>

</div>

<script >
  var entry_object =  JSON.parse('{{entry_dict | tojson | safe}}');
  var protein_agent = new ptmprofiler.protein_agent(entry_object);
  var sequence_viewer = new ptmprofiler.sequence_viewer(protein_agent, "sequence-viewer");
  sequence_viewer.draw(); 
  var phosphosite = new ptmprofiler.phosphosite(entry_object['entry']);
  phosphosite.show_data("phosphosite-viewer", protein_agent);
  var netphorest = new ptmprofiler.netphorest(protein_agent, "netphorest-viewer");
  netphorest.get_netphorest();
  var networkin = new ptmprofiler.networkin(protein_agent, "networkin-viewer");
  networkin.get_networkin();
 
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})



</script>


<script>

  function select_phosphosites(){
    var htp = document.getElementById("phosphosite-htp").value;
    var ltp = document.getElementById("phosphosite-ltp").value;

    phosphosite.select_phosphosites_data(ltp, htp, protein_agent, sequence_viewer);

  }

  function phosphosite_tryptic_filter(){
    var filterno = document.getElementById("phosphosite-tryptic-filter").value;
    phosphosite.filter_on_tryptic(filterno, protein_agent, sequence_viewer);

  }

  function getSMALI(){
  var reSMALI = new ptmprofiler.resmali(protein_agent, "resmali-info");
  reSMALI.draw_reSMALI();
  
}

function draw_netphorest(){
    //var nodes = Array.from(document.getElementsByClassName("form-check-input"));
    var docnodes = document.getElementById('netphorest-controls').getElementsByClassName('form-check-input');
    var checkedList = [];

    for(let child of docnodes){
      if(child.checked == 1){
        checkedList.push(child.value);
      }
    }
    var netphorestMinScore = document.getElementById("netphorest-min-score").value ? document.getElementById("netphorest-min-score").value : 0.1 ;
    netphorest.draw_netphorest(checkedList, netphorestMinScore);
  }

  function draw_networkin(){
    //var nodes = Array.from(document.getElementsByClassName("form-check-input"));
    var docnodes = document.getElementById('networkin-controls').getElementsByClassName('form-check-input');
    var checkedList = [];

    for(let child of docnodes){
      if(child.checked == 1){
        checkedList.push(child.value);
      }
    }
    var networkinMinScore = document.getElementById("networkin-min-score").value ? document.getElementById("networkin-min-score").value : 2.0 ;
    networkin.draw_networkin(checkedList, networkinMinScore);
  }
</script>

<script>

function go_to_profiler(){

  var select_residues = [];

  for(var i =0; i < protein_agent.protein_length; i++){
    if(protein_agent.selected[i]){
      select_residues.push(i);
    }
  }
  sessionStorage.setItem("selected_residues", JSON.stringify(select_residues));
  sessionStorage.setItem("uniprot_id", protein_agent.entry);
  window.location.assign('../ptm_profile/');


}
</script>


{% endblock %}